// Flex
.flex {
  display: flex;
}
.flex.flex-column {
  flex-direction: column;
}
.flex.inline-flex {
  display: inline-flex;
}
.align-self-center {
  align-self: center;
}
.self-end {
  align-self: flex-end;
}
.flex.items-center {
  align-items: center;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-end {
  justify-content: flex-end;
}
.flex.justify-between {
  justify-content: space-between;
}

// List
.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Text
.vertical-text {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.grid {
  display: grid;
}
