@font-face {
  font-family: "OpenSans-Regular";
  src: url("@/styles/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("@/styles/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("@/styles/fonts/Raleway-Regular.ttf");
}
